.Command-box {
  z-index:1;
  background-color: white;
  position: absolute;
  height: 5%;
  width: 50%;
  bottom: 0%;
  left:25%;
}

.Data-box {
  background-color: #a13030;
  color: white;
  z-index:1;
  position: absolute;
  height: 25%;
  width: 30%;
  top: 0%;
  overflow: auto;
}
