.tagContainerBox {
  display: flex; /* Set the container as flex */
}

.tagBox {
  flex: 1; /* Make each box grow to fill available space equally */
  margin: 5px; /* Optional: Add some margin between boxes */
  padding: 10px;
}

.inputField {
  width: 100%;
}

.checkBox {
  height: 10%;
  overflow: auto;
  border: 1px solid black;
}

/* .Command-box {
  z-index:1;
  background-color: white;
  position: absolute;
  height: 5%;
  width: 50%;
  bottom: 0%;
  left:25%;
}

.Data-box {
  background-color: #a13030;
  color: white;
  z-index:1;
  position: absolute;
  height: 25%;
  width: 30%;
  top: 0%;
  overflow: auto;
} */
